.factsBox {
  background-color: #2c3333;

  padding: 20px;
  width: 70%;
  margin: 150px auto;

  border-style: solid;
  border-radius: 30px;

  box-shadow: 0 0 10px 5px;
}

.img {
  display: block;
  margin: 0 auto;
  height: 75%;
  width: 75%;

  border-radius: 20px;
}

.text {
  display: inline-block;
  margin: 0;
  padding: 20px;
}
/* Large laptop */
@media only screen and (min-width: 1440px) {
  .img {
    height: 50%;
    width: 50%;
  }
}
/* laptop */
@media only screen and (max-width: 1439px) and (min-width: 1024px) {
  .factsBox {
    width: 60%;
    border-radius: 20px 80px;
  }
  .text {
    width: 30%;
  }

  .img {
    height: 50%;
    width: 50%;
  }
}
/* Large mobile */
@media only screen and (max-width: 425px) and (min-width: 375px) {
}
/* Med and Sm mobile */
@media only screen and (max-width: 375px) {
}
