.header {
  background-color: #395b64;

  padding: 1px;
  border-top-width: inherit;
  border-style: solid;

  text-align: center;

  border-radius: 0 0 50px 50px;
}

/* Large laptop */
@media only screen and (min-width: 1440px) {
  .header {
  }
}
/* laptop */
@media only screen and (max-width: 1439px) and (min-width: 1024px) {
  .header {
  }
}
/* Tablet */
@media only screen and (max-width: 1023px) and (min-width: 426px) {
  .header {
  }
}
/* Large mobile */
@media only screen and (max-width: 425px) and (min-width: 375px) {
  .header {
  }
}
/* Med and Sm mobile */
@media only screen and (max-width: 375px) {
}
